
body{
  text-align: center;
  /* background-image:url('./Images/backimg.jpeg') !important; */
  /* background-color: rgba(206, 206, 152, 0.642) !important;
  background-repeat: repeat !important;
  background-size:cover !important; */
  
}

